<p-carousel [value]="partners"
            [numVisible]="3"
            [numScroll]="3"
            [circular]="false"
            [responsiveOptions]="responsiveOptions"
            autoplayInterval="2000">
    <ng-template let-partner #item>
        <div class="rounded mx-2">
            <div class="relative mx-auto rgb-border-container">
                <img src="assets/{{partner.image}}"
                     [alt]="partner.name"
                     class="w-full"
                     (click)="openPartnerModal(partner)"
                />
            </div>
        </div>
    </ng-template>
</p-carousel>
<app-modal-partner [(displayModal)]="displayModal" [selectedPartner]="selectedPartner"></app-modal-partner>
