<p-carousel [value]="products"
            [numVisible]="3"
            [numScroll]="3"
            [circular]="false"
            [responsiveOptions]="responsiveOptions"
            autoplayInterval="300000">
    <ng-template let-product #item>
        <div class="border border-surface-200 dark:border-surface-700 rounded">
            <div class="relative mx-auto">
                <img src="https://primefaces.org/cdn/primeng/images/demo/product/{{ product.image }}"
                     [alt]="product.name"
                     class="w-full rounded-border"/>
            </div>
        </div>
    </ng-template>
</p-carousel>
